.bs-background {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;

  & * {
    font-size: 1.8vh;
  }

  .bs-background-form {
    position: relative;
    left: 7%;
    width: 55vh;
    top: 0;
    height: 100vh;
    background: #664242;
  }

  .sb-form {
    position: relative;
    width: 100%;
    height: 100vh;
  }

  @media only screen and (max-device-width: 575px) and (orientation: portrait) {
    .bs-background-form {
      left: 0;
      width: 100%;
      height: 100vh;
    }
  }

  @media only screen and (orientation: portrait) and (max-device-width: 700px) {
    background-color: yellow;
  }

  @media only screen and (orientation: landscape) {
    background-color: #cfcfcf;
  }
}

