.inp1 {
	position: relative !important;
	margin-left: 3% !important;
	margin-right: 3% !important;
	width: 100% !important;
	border: none !important;
	border-bottom: 1px solid #ffffff !important;
	padding: 0 8% !important;
	outline: none !important;
	background-color: #b61817 !important;
	color: white;
	text-transform: uppercase;
}

.inp2 {
	position: relative !important;
	margin-left: 3% !important;
	margin-right: 3% !important;
	width: 100% !important;
	border: none !important;
	border-bottom: 1px solid #ffffff !important;
	padding: 0 8% !important;
	outline: none !important;
	background-color: #b61817 !important;
	color: white;
}

#input1 {
	position: absolute;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 3%;
	padding-left: 3%;
	background-color: #b61817 !important;
}

#input2 {
	position: absolute;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 3%;
	padding-left: 3%;
	background-color: #b61817 !important;
}

.button-login {
	position: relative;
	margin: auto;
	width: 50%;
	padding: 1% 1%;
	border: none;
	border-radius: 30px;
	background-color: white;
	font-weight: bold;
	color: #ef0807;
	font-family: "Arial", sans-serif;
	text-transform: uppercase;
}

.forget-password {
	position: relative;
	font-family: "Arial", sans-serif;
	color: white;
	font-weight: 500;
	cursor: pointer;
}

.sign-up-seanet {
	position: relative;
	font-family: "Arial", sans-serif;
	color: white;
	font-weight: 500;
	text-decoration: underline;
	cursor: pointer;
}

.shakeit {
	font-weight: bold;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;

	-moz-animation: cssAnimation 0s ease-in 15s forwards;
	/* Firefox */
	-webkit-animation: cssAnimation 0s ease-in 15s forwards;
	/* Safari and Chrome */
	-o-animation: cssAnimation 0s ease-in 15s forwards;
	/* Opera */
	animation: cssAnimation 0s ease-in 15s forwards, shake 1s cubic-bezier(.36,.07,.19,.97) both;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@keyframes shake {
	10%, 90% {
		transform: translate3d(-1%, 0, 0);
	}

	20%, 80% {
		transform: translate3d(-1%, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-2%, 0, 0);
	}

	40%, 60% {
		transform: translate3d(-2%, 0, 0);
	}
}

@keyframes cssAnimation {
	to {
		width:0;
		height:0;
		overflow:hidden;
	}
}
@-webkit-keyframes cssAnimation {
	to {
		width:0;
		height:0;
		visibility:hidden;
	}
}

.sb-login-custom-form {
	margin-right: 10%;
	margin-left: 10%;
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover,
	textarea:-webkit-autofill:focus,
	select:-webkit-autofill,
	select:-webkit-autofill:hover,
	select:-webkit-autofill:focus {
		width: -90%;
		//height: 100%;
		//margin-left: 100px;
		border: 1px solid white;
		-webkit-text-fill-color: white;
		-webkit-box-shadow: #b61817 inset;
		transition: background-color 5000s ease-in-out 0s;
	}

	input::-webkit-input-placeholder {
		font-family: "Arial", sans-serif;
		color: #f3eeee;
	}

	input:-moz-placeholder {
		font-family: "Arial", sans-serif;
		color: #f3eeee;
	}

	input:-ms-input-placeholder {
		font-family: "Arial", sans-serif;
		color: #f3eeee;
	}

	.inp1::-webkit-input-placeholder {
		font-family: "Arial", sans-serif;
		color: #f3eeee;
		text-transform: initial;
	}

	.inp1::-moz-placeholder {
		font-family: "Arial", sans-serif;
		color: #f3eeee;
		text-transform: initial;
	}

	.inp1::-ms-input-placeholder {
		font-family: "Arial", sans-serif;
		color: #f3eeee;
		text-transform: initial;
	}

	.sb-login-lang {
		color: #ffffff;
	}

	.sb-custom-error {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}


@import url('https://fonts.googleapis.com/css?family=Numans');

.bg-container {
	position: relative;
	//min-height: 100vh;
	height: 100vh;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Arial', sans-serif;
	overflow: auto;
}

.bg-container-scroll {
	overflow-y: scroll !important;
}

.bg-login {
	position: relative;
	//min-height: 100vh;
	height: 100vh;
	top: 0;
	background-color: #b61817;
	opacity: 0.75;
	background-size: inherit;
	background-repeat: no-repeat;
	-webkit-background-size: inherit;
	-moz-background-size: inherit;
	-o-background-size: inherit;
	font-family: 'Arial', sans-serif;
	filter: alpha(opacity=0.7);
}

.text-note {
	position: relative;
	font-family: "Arial", sans-serif;
	color: #e3dcdc;
	align-content: center;
	z-index: 10;
}

.sb-custom-register-top-bar {
	position: fixed;
	height: 64px;
	width: 100%;
	padding: 0 100px;
	background-color: #ffffff;
	z-index: 1 !important;
}
//.bg-container {
//	background-image: url('assets/media/bg/background_resize_PC.png')
//}

@media only screen and (max-width: 767px) {
	.sb-custom-register-top-bar {
		padding: 0 !important;
	}
}

.sb-custom-register-logo {
	position: relative;
	width: 100%;
	height: 64px;

	img {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}

.sb-custom-register-lang {
	position: relative;
	width: 100%;
	height: 64px;

	kt-language-selector {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);

		.kt-header__topbar-item--langs {
			padding: 0 !important;
		}
	}

	.kt-nav__link-icon img {
		height: 18px !important;
		width: 18px !important;
	}
}

.sb-custom-header-register {
	height: 64px;
	padding: 0;
}

//@media only screen and (max-width: 575px) {
//	.bg-container {
//		background-image: url('assets/media/bg/background_resize_mobile.png')
//	}
//}



